@page
@model IndexModel
@{
    ViewData["Title"] = "Hello, Razor!";
    ViewData["Message"] = "Olá, Layout Principal! Passei por aqui!";
}

<div class="text-center">
    <h1 class="display-4">Essa é a Index </h1>
    <p class="alert-info"> - Obverva aê. Este texto é em um body </p>
</div>
